<div *ngIf="this.cart.length <= 0; else tableBlock">
  <h2>Your cart is empty, add some products first...</h2>
</div>

<ng-template #tableBlock>
  <div class="wrapper">
    <table  mat-table [dataSource]="cart" class="mat-elevation-z8" style="margin-bottom: 2vw;">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let product"> {{product[0].name}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let product"> {{product[1]}} </td>
      </ng-container>

      <!-- Net price Column -->
      <ng-container matColumnDef="net">
        <th mat-header-cell *matHeaderCellDef> Net price </th>
        <td mat-cell *matCellDef="let product"> {{product[0].netPrice}} </td>
      </ng-container>

      <!-- Gross price Column -->
      <ng-container matColumnDef="gross">
        <th mat-header-cell *matHeaderCellDef> Gross price </th>
        <td mat-cell *matCellDef="let product"> {{product[0].grossPrice.toFixed(2)}} </td>
      </ng-container>

      <!-- Remove item Column -->
      <ng-container matColumnDef="remove">
        <th mat-header-cell *matHeaderCellDef style="text-align: right"><button mat-raised-button color="warn" (click)="resetCart()"><i class="fas fa-trash-alt"></i> Delete all</button></th>
        <td mat-cell *matCellDef="let product" style="text-align: right"><button mat-button (click)="removeFromCart(product[0].id)"><i class="fas fa-trash-alt"></i></button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
    <div style="text-align: right; margin-left: 25%">
      <h3>Net sum: <i class="fas fa-dollar-sign"></i> {{netSumPrice}}</h3>
      <h2>Gross sum: <i class="fas fa-dollar-sign"></i> {{grossSumPrice}}</h2>
      <button mat-raised-button color="primary" (click)="checkout()">Checkout <i class="fas fa-angle-double-right"></i></button>
    </div>
  </div>
</ng-template>

