<mat-toolbar color="primary" class="navbar">
  <div><i class="fas fa-mouse-pointer" style="color: white"></i> Microshoppy</div>
  <div>
    <a [routerLink]="['/']"><span><i class="fas fa-home"></i> Home</span></a>
    <a [routerLink]="['/shopping-cart']"><span><i class="fas fa-cart-arrow-down"></i> Cart</span></a>
    <a [routerLink]="['/admin-panel']"><span><i class="fas fa-envelope"></i> Contact</span></a>
    <a [routerLink]="['/login']"><i class="fas fa-user"></i></a>
  </div>
</mat-toolbar>
